
body {
 background-color : #4D2E15;
}

h1 {
	color: #CEBD95;
	--background-color: white;
}
h2{
color: gray;	
}

p {
	color: white;
	font-family: arial;
}

.imagen-portada 
{
	width: 200px;
	height: 280px;
}

span.rojo
{
	color:red;
}

.valores-tabla{
	padding-left: 30px;
}